# Ignore builded binaries-files
bin
/Debug/
bin/Release/
#
Core/bin/
Core.Tests/bin/
TestApp/bin/
Units/bin/
Units.Tests/bin/
#
Core/obj/
Core.Tests/obj/
TestApp/obj/
Units/obj/
Units.Tests/obj/
#
*.db*
*.cd
*.sdf
*.sln
*.log*
*.depend
*.suo
*.ops*
*.log
*.layout
*.cbp
*.dll
*.exe

